<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>
<target name="nl.indi.eclipse.xslt3.target" sequenceNumber="1">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://download.eclipse.org/releases/2025-03"/>
            <unit id="org.eclipse.core.runtime" version="0.0.0"/>
            <unit id="org.eclipse.core.resources" version="0.0.0"/>
            <unit id="org.eclipse.jface.text" version="0.0.0"/>
            <unit id="org.eclipse.swt" version="0.0.0"/>
            <unit id="org.eclipse.ui" version="0.0.0"/>
            <unit id="org.eclipse.ui.editors" version="0.0.0"/>
            <unit id="org.eclipse.ui.ide" version="0.0.0"/>
            <unit id="org.eclipse.ui.views" version="0.0.0"/>
            <unit id="org.eclipse.ui.workbench.texteditor" version="0.0.0"/>
        </location>
    </locations>
</target>
